.seasons-container {
  display: flex;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.seasons-title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background-image: url(https://a.espncdn.com/i/leaguelogos/soccer/500-dark/23.png);
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 180px;
}

.seasons-title h2 {
  width: 50%;
  margin-top: 2rem;
  margin-right: 2.5rem;
  line-height: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.seasons-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2px;
  margin-top: 3rem;
}

.season-button {
  grid-column: span 6;
  height: 9rem;
  border: 1.3px solid #202341;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(#4c72b8, #2f3360);
}

.season-year {
  width: 100%;
  padding-top: 1rem;
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -5px;
}

.season-display {
  width: 100%;
  font-size: 0.5rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .seasons-container {
    max-width: 900px;
    width: 70%;
  }

  .seasons-title h2 {
    font-size: 4rem;
    font-weight: 700;
  }

  .season-button {
    grid-column: span 4;
  }
}

@media screen and (min-width: 720px) {
  .seasons-container {
    max-width: 900px;
    width: 70%;
  }

  .seasons-title h2 {
    font-size: 4rem;
    font-weight: 700;
  }

  .season-button {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1200px) {
  .season-button {
    grid-column: span 2;
  }
}
