.standings-container {
  display: flex;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: flex-start;
  width: 99%;
  flex-wrap: wrap;
  max-width: 900px;
}

.standings-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-width: 810px;
}

.standings-header-title {
  flex: 3;
  width: 100%;
}

.standings-header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.standings-header-img img {
  width: 100%;
  max-width: 270px;
}

.standings-header-title h1 {
  width: 100%;
  text-align: center;
  font-size: 8.1rem;
  font-weight: 600;
  color: var(--color4);
  letter-spacing: -12px;
  display: none;
}

.standings-header-info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 1.5rem 0;
}

.standings-header-info h3 {
  text-align: right;
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--color4);
  letter-spacing: -0.5px;
}

.standings-header-info h4 {
  text-transform: uppercase;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color4);
  opacity: 0.8;
  letter-spacing: -0.5px;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  color: var(--color4);
}

tr {
  transition: all 0.2s ease-out;
}

tr:nth-child(odd) {
  background: var(--color2);
  filter: hue-rotate(-2deg) saturate(0.9);
}

tr:nth-child(even) {
  background: var(--color2);
  filter: brightness(1.05);
}

tr:hover {
  background: var(--color3);
  filter: brightness(1.1);
  color: var(--color1);
}

#head {
  background: var(--color1);
}

th {
  height: 1.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.data {
  padding: 6px;
  text-align: center;
  letter-spacing: -0.5px;
  font-size: 0.8rem;
  font-weight: 100;
}

.data-name {
  padding: 6px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.data img {
  height: 2.7rem;
  filter: grayscale(60%);
}

tr:hover td > img {
  transform: scale(1.2);
  filter: grayscale(0) saturate(1.2);
}

.points {
  font-size: 1.1rem;
  font-weight: 500;
}

@media screen and (min-width: 700px) {
  .standings-header {
    flex-direction: row;
  }

  .standings-header-img img {
    max-width: 200px;
  }

  .standings-header-title h1 {
    display: block;
  }

  .standings-header-info {
    align-items: end;
    margin: 0;
  }

  .standings-header-info h3 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -2px;
  }
}
