*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

*:visited {
  color: #fff;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  background: linear-gradient(#2f3360, #4c72b8);
}

#root,
.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
